%section#wrapper
  #card
    .front
      .topBar
      %p
        %label{:for => "url"} Url
        %input{:id => "url", :name => "url", :type => "text", :value => "http://"}
        %input{:name => "submit", :id => "submit", :type => "button", :value => "submit"}
    .back
      .topBar
      %p
        %label{:for => "short_url"} Url
        %input{:id => "short_url", :name => "short_url", :type => "text", :readonly => "readonly"}
        %span#back Add Another URL